

<div class="center">
<h1>Log In</h1>
<% if flash[:error].present? %>
    <h2><%= flash[:error] %></h2>
<% end %>
<form>
<div class="txt_field">
<%= form_tag login_path do %>
  <label><%= label_tag :email %>
    <%= email_field_tag :email %></label>
</div>
    <div class="txt_field">
     <label><%= label_tag :password %>
    <%= password_field_tag :password %></label></div>
   
    <%= submit_tag "Sign in" %>
     <% end %>
</form>




