    <h2>Categories(<%= @categories.count %>)</h2>

<ul>
  <% @categories.each do |category| %>
    <li>
     <%= link_to category_path(category) do %>
        <%= image_tag category.image, :class => 'thumb' if category.image.present? %>
        <%= category.title %>(<%= category.products.count %>)
        
      <% end %>
    </li>
    </ul>
    <% end %>

    



