    <div class="container">
      <h2>Categories(<%= @categories.count %>)</h2>
    

<ul>
  <div class="categories">
    <% @categories.each do |category| %>
      
      <div class="pic-title">
          <%= image_tag category.image, :class => 'cat-thumb' if category.image.present? %>
            <h4>
              <%= link_to category_path(category) do %>
              <%= category.title %>(<%= category.products.count %>)
            </h4>
            <% end %>
      </div> 

    <% end %>
  </div>
</ul>
    </div>



